﻿@using System.Data;
@using Bakery_Project.Areas.User.Models;
@model Bakery_Project.Areas.User.Models.UserModel;
@{
    string opration = "";
    if (ViewBag.ID > 0)
    {
        opration = "Edit";
    }
    else
    {
        opration = "Add";
    }
}


<div class="row ">
    <div class="col-lg-8 align-items-center">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@opration Record</h5>
                <!-- Multi Columns Form -->
                <form class="row g-3" asp-action="AddEditUsersData" method="post">
                    @Html.HiddenFor(x => x.UserID)
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">User Name</label>
                        <input asp-for="UserName" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">User Role</label>
                        <input asp-for="UserRole" type="text" class="form-control">
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Email</label>
                        <input asp-for="Email" type="text" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Mobile</label>
                        <input asp-for="Mobile" type="text" class="form-control">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Password</label>
                        <input asp-for="Password" type="text" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">@opration Record</button>
                        <button asp-action="Cancel" asp-area="User" asp-controller="User" class="btn btn-primary">Cancel</button>
                    </div>
                </form><!-- End Multi Columns Form -->
                
            </div>
        </div>
    </div>
</div>